<div class="container-track split-screen">
    <div class="top left button-goal player-box"     user-id="<%= players.a.id %>">
        <% userGoals = goals.where({user_id: players.a.id}) %>
        <div class="name"><%- players.a.lastname %> <span><%= _.size(userGoals) %></span></div>
        <%= eventsTpl({goals: userGoals, userId: players.a.id}) %>
    </div>
    <div class="top right button-goal player-box"    user-id="<%= players.c.id %>">
        <div class="name"><%- players.c.lastname %></div>
        <%= eventsTpl({goals: goals.where({user_id: players.c.id}), userId: players.c.id}) %>
    </div>
    <div class="bottom left button-goal player-box"  user-id="<%= players.b.id %>">
        <div class="name"><%- players.b.lastname %></div>
        <%= eventsTpl({goals: goals.where({user_id: players.b.id}), userId: players.b.id}) %>
    </div>
    <div class="bottom right button-goal player-box" user-id="<%= players.d.id %>">
        <div class="name"><%- players.d.lastname %></div>
        <%= eventsTpl({goals: goals.where({user_id: players.d.id}), userId: players.d.id}) %>
    </div>
</div>